<h1>Forgot your password?</h1>

<.form :let={f} for={:user} action={Routes.user_reset_password_path(@conn, :create)}>
  <.form_field type="email_input" form={f} field={:email} label="Email" required={true} />

  <div>
    <.button type="submit" label="Send instructions to reset password" />
  </div>
</.form>

<p>
  <.link name="Register" to={Routes.user_registration_path(@conn, :new)} >Register</.link> |
  <.link name="Log in" to={Routes.user_session_path(@conn, :new)} >Log in</.link>
</p>
