<section>
  <h3>Create/Edit</h3>
  <.live_component id="properties_form_container" module={RoomHereWeb.Properties.FormComponent} />

  <h3>List of properties here</h3>
  <ul>
    <li>
      <div>
        <p>Camera 1</p>
        <p>In vogue</p>
      </div>
    </li>
    <li>
      <div>
        <p>Camera 2</p>
        <p>Not in vogue</p>
      </div>
    </li>
    <li>
      <div>
        <p>Camera 3</p>
        <p>Questionably in vogue</p>
      </div>
    </li>
  </ul>
</section>