<h1>Confirm account</h1>

<.form :let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>
  <div>
    <.button type="submit" label="Confirm my account" />
    
  </div>
</.form>

<p>
  <.link name="Register" to={Routes.user_registration_path(@conn, :new)} >Register</.link> |
  <.link name="Log in" to={Routes.user_session_path(@conn, :new)} >Log in</.link>
</p>
