<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={Phoenix.HTML.Tag.csrf_token_value()}>
    <.live_title suffix=" Phoenix"><%= assigns[:page_title] || "RoomHere" %></.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-white">
    <header>
      <.container max_width="md" class="flex items-center justify-between">
        <a href="https://phoenixframework.org/" class="phx-logo">
          <div class="flex items-center">
            <.icon name={:home} class="h-14 text-primary-700 mr-2"/>
            <span class="text-primary-700 text-5xl font-semibold">RoomHere</span>
          </div>
        </a>
        <nav>
          <%= render "_user_menu.html", assigns %>
        </nav>
      </.container>
    </header>
    <%= @inner_content %>
  </body>
</html>
